<body>
<!-- You should be able to see this comment in your browser at raw.codeberg.page/crystal/raw-test/index.html -->
<br><br>
welcome. this is the main branch.
<br><br>
<a href="https://raw.codeberg.page/crystal/raw-test/index.html" >view raw index.html</a>
<br>
<a href="https://raw.codeberg.page/crystal/raw-test/example" >view raw example file</a>
<br>
<a href="/example" >download example file</a>
<br><br>
<a href="https://cb-raw-test-pages.crystal.vg/" >pages branch</a>
<a href="https://crystal.codeberg.page/raw-test/@branch-test/" >branch-test branch</a>
</body>
